__pycache__
src/py/dist
src/py/build
src/py/doc/*.pdf
src/R/man
src/R/*.tar.gz
src/R/doc/*.pdf
src/py/doc/manual.pdf
TODO
TODO.md
BUGS
BUGS.md
doc/manual.pdf
src/py/.*
src/py/*.egg-info
doc/manual.adoc.bak
src/R/DESCRIPTION.bak
src/py/setup.cfg.bak
